
body{
    overflow-x: hidden;
	display: flex;
	height: 120vh;
}

.bodyContainer{
	justify-content: center;
	align-items: center;
	text-align: end;
}
.navBar{ 
	list-style-type: none;
}

li {
    position: relative;
    right: 50px;
    display: inline;
    float: left;
    padding: 50px;
    cursor: pointer;
    text-decoration: none;
}

li:hover {
  text-decoration: underline;
}

ul {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1{
    position: relative;
    text-transform: uppercase;
    top: -300px;
    left: -80px;
    margin: 0;
    font-size: 7rem;
    text-align: center;
    letter-spacing: 2rem;
    color: black;
    font-family: "Oswald", sans-serif;
}


span{
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-850px);
    transform: scale(-20px);
    display: inline-block;
}

span.fade{
    opacity: 1;
    transform: translateY(0px);
    /*transform: translateX(0px);*/

}

spanLife{
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(-550px);
    transform: scale(-250px);
    display: inline-block;
}

spanLife.fade{
    opacity: 1;
    transform: translateY(0px);
    /*transform: translateX(0px);*/

}










.swiper{
    width: 85vh;
    height: 75vh;
	position: relative;
    left: 950px;
    overflow: hidden;
	z-index: 1;
}


.opaque-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    opacity: 0.3;
    z-index: 1; 
    color: rgba(0, 0, 0, 0.5); /* Color de fondo opaco */
    z-index: -999; /* Asegura que esté por encima de las imágenes del swiper */
    pointer-events: none; /* Evita que interfiera con la interacción del usuario */
}

