
body{
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
	display: flex;
    flex-direction:row; 
    align-items: center;
	height: 100vh;
    animation: gradient 5s ease-in-out;
}

.bodyContainer{
	justify-content: center;
	align-items: center;
	text-align: end;
    height: auto; 
    padding: 20px; 
    form-sizing: content;
}

.navBar{ 
	list-style-type: none;
}

li {
    position: relative;
    right: -150px;
    display: inline;
    float: left;
    padding: 50px;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
}

li:hover {
  text-decoration: underline;
}

ul {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.titleTokio,
.titleStory,
.titleNight {
    position: relative;

    text-transform: uppercase;
    margin: 0;
    font-size: 10rem;
    text-align: center;
    z-index: 1;
    letter-spacing: 3.5rem;
    font-family: "Oswald", sans-serif;
}

.titleLife{
    font-size: 8rem;
    position: relative;
    text-transform: uppercase;
    top: -25rem;
    left: 8rem;
    margin: 0;
    font-size: 8rem;
    text-align: center;
    z-index: 1;
    letter-spacing: 3.5rem;
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
}

span{
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(-850px);
    display: inline-block;
}

span.fade{
    opacity: 1;
    transform: translateY(0px);
    animation: 0.5s infinite alternate; 
}

span.out{
    opacity: 0;
    transform: translateY(850px);
}

spanLife{
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(1550px);
    display: inline;
}

spanLife.fade{
    display: inline-block;
    animation: titilar 0.5s infinite alternate; 
    opacity: 1;
    transform: translateY(0px);
    /*transform: translateX(0px);*/

}


.swiper{
    width: 30vh;
    height: 75vh;
	position: relative;
    left: 50rem;
    top: -5rem;
    overflow: hidden;
    
}

.opaque-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.opaque-image::after {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 30%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 40%;
	}

from{
  background-color: rgb(83, 83, 83);
}
  to{
    background-color: transparent;
}
}


@media only screen and (max-width: 390px) {
    body {
        max-width: fit-content;
        display: flex;
    }

ul{
    display: inline-block;
    color: transparent;
}
    .bodyContainer{
    
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .swiper {
        position: absolute;
        left: -10rem;
        top: -5rem;
        height: 2rem;
        width: 3rem;
    }

    .titleTokio {
        font-size: 8rem;
        letter-spacing: 6px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }

    .titleLife {
        /*position: absolute;*/
        font-size: 6.5rem;
        letter-spacing: 3px;
        writing-mode: vertical-lr; 
        white-space: nowrap; 
        margin-top: 50vh; 
    }

    .titleNight {
        font-size: 8.5rem;
        color: rgb(255, 255, 255);
        letter-spacing: 9px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }

    .titleStory {
        font-size: 6.5rem;
        letter-spacing: 5px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }
}

@media only screen and (max-width: 425px) {
    body {
        max-width: fit-content;
        display: flex;
    }

ul{
    display: inline-block;
    color: transparent;
}
    .bodyContainer{
    
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .swiper {
        position: absolute;
        left: -10rem;
        top: -5rem;
        height: 2rem;
        width: 3rem;
    }

    .titleTokio {
        font-size: 8rem;
        letter-spacing: 6px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }

    .titleLife {
        /*position: absolute;*/
        font-size: 6.5rem;
        letter-spacing: 3px;
        writing-mode: vertical-lr; 
        white-space: nowrap; 
        margin-top: 50vh; 
    }

    .titleNight {
        font-size: 8.5rem;
        color: rgb(255, 255, 255);
        letter-spacing: 9px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }

    .titleStory {
        font-size: 6.5rem;
        letter-spacing: 5px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }
}
@media only screen and (max-width: 768px) {
    body {
        max-width: fit-content;
        display: flex;
    }

ul{
    display: inline-block;
    color: transparent;
}
    .bodyContainer{
    
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .swiper {
        position: absolute;
        left: -10rem;
        top: -5rem;
        height: 2rem;
        width: 3rem;
    }

    .titleTokio {
        font-size: 8rem;
        letter-spacing: 6px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }

    .titleLife {
        position: absolute;
        font-size: 6.5rem;
        letter-spacing: 3px;
        writing-mode: vertical-lr; 
        white-space: nowrap; 
        margin-top: 50vh; 
    }

    .titleNight {
        font-size: 8.5rem;
        color: rgb(255, 255, 255);
        letter-spacing: 9px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }

    .titleStory {
        font-size: 6.5rem;
        letter-spacing: 5px;
        writing-mode: vertical-rl; 
        text-orientation: mixed; 
        white-space: nowrap; 
        margin-top: 10vh; 
    }
}